<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <div class="content profile">
        <h2>Welcome <%= @user.name %> (<%= current_user.nickname %>)</h2>
      </div>
    </div>
  </div>

  <div class="row info">
    <div class="col-md-4 img-col">
      <img src="<%= @user.avatar_url %>" class="user-image img-thumbnail">
    </div>

    <div class="col-md-8">
      <h3 class="header-profile">User profile information</h3>
      <div class="user-info">
        <div class="col-md-4 info-col">
          <p><span class="field-name">All Repositories:</span> <span class="field-attr"><%= @user.num_private_repos %></span></p>
          <p><span class="field-name">Email:</span> <span class="field-attr"><%= @user.email %></span></p>
          <p><span class="field-name">Location:</span> <span class="field-attr"><%= @user.location %></span></p>
          <p><span class="field-name">Joined on:</span> <span class="field-attr"><%= @user.created_at.strftime("%b %d, %Y") %></span></p>
        </div>
        <div class="col-md-4 info-col">
          <p><span class="field-name">Public repositories:</span> <span class="field-attr"><%= @user.public_repos.size %></span></p>
          <p><span class="field-name">Followers:</span> <span class="field-attr"><%= @user.followers %></span></p>
          <p><span class="field-name">Follwoing:</span> <span class="field-attr"><%= @user.following %></span></p>
          <p><span class="field-name">Public gists:</span> <span class="field-attr"><%= @user.public_gists %></span></p>
        </div>
      </div>
    </div>
  </div>

    <div class="row info">
      <h3>Last 10 updated public repositories:</h3>
      <ul class="public-repos-list">
        <% @user.public_repos[0..9].each do |repo| %>
          <li>
            <p>
              <span class="field-name"><%= repo.name %></span>:
              <span class="field-attr"><%= repo.language %></span>
            </p>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

</div>
